


body {
  font-family: Arial, sans-serif, serif;
  padding: 0px 14px 0px;
  min-width: 640px;
  max-width: 780px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #888;
  padding: 5px;
}

/*--------------------------------------------------------*/

div.grid {
  display: grid;
}

#maindiv {
  grid-auto-flow: row;
  grid-template-columns: 1fr;
}

#headerdiv {
  grid-auto-flow:column;
  grid-template-rows: 1fr;
  height: 270px;
  overflow: hidden;
  transition-duration: 0.3s;
  border-top: 8px solid #ccc;
}
#headerdiv.hide {
  height: 0px !important;;
}

#settingdiv {
  grid-auto-flow: column;
  /*grid-template-rows: 0px repeat(5, 50px) 20px;*/
  grid-template-rows: 0px repeat(6, 44px) 20px;
  width: 240px;
}

#settingdiv .cell{
  display: flex;
  align-items: center;
}
#settingdiv .cell.label{
  justify-content: end;
}
#settingdiv .cell.input{
  justify-content: start;
}

#cubeinfodiv {
  grid-auto-flow: column;
  grid-template-rows: 5px repeat(5, 53px) 0px;
}

#openerdiv {
  height: 30px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #ccc 0%, #eee 20%, #eee 80%, #ccc 100%);
}

#openerdiv .arrowdiv {
  position: absolute;
  top: -7px;
  height: 15px;
  width: 15px;
  transform: rotate(-45deg);
  transform-origin: calc(550%/8) calc(250%/8);
  transition-duration: 0.3s;
  border-color: black black transparent transparent;
  border-style: solid;
  border-width: 3px;
  border-radius: 15%;
}

#openerdiv.opener .arrowdiv {
  transform: rotate(135deg) !important;
}

#openerdiv #conditiondiv {
  grid-auto-flow: column;
  grid-template-columns: repeat(5, auto);
  width: 100%;
}
#openerdiv #conditiondiv>div {
  min-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
  text-align: center;
}
#openerdiv #conditiondiv #condition-date {
  max-width: 100px;
  min-width: 90px;
}



#exportdiv {
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
}

#potentialdiv {
  grid-auto-flow: row;
  grid-template-columns: auto 1fr auto auto;
}

#tablediv {
  
}

/* gridboxの背景色 */
#settingdiv{
  background-color: #ffcece;
}
#settingdiv .cell {
  background-color: #ffffffa0;
}

/* gridboxのpaddingレイアウト */
#headerdiv .cell {
  min-height: 40px;
}
#headerdiv .cell.top{
  padding: 0px;
  min-height: 0px;
}
#headerdiv .cell.bottom{
  padding: 0px;
  min-height: 0px;
}
#headerdiv .cell.label{
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
}
#gridbox1 .cell.input.opt{
  padding-right: 10px;
}

/*------------------------------------------------------*/

.no-spin {
  margin: 0;
  -moz-appearance: textfield;
}

.input-status{
  background-color: white; 
  border:solid 1px gray;
  border-radius: 5px;
}

input.input-status {
  width: 40px;
}
input[type="checkbox"].input-status {
  width: unset;
  transform: scale(1.2);
}

select.input-status {
  min-width: 40px;
  max-width: 100px;
  -webkit-appearance: none;
  appearance: none;
}

select.input-status::-ms-expand {
  display: none;
}

/*----------------------------------------------------*/

#tablediv {
  margin-top: 0px;
  min-width: 220px;
}
#tablediv>table {
  background-color: #efefef;
  min-width: 100%;
}
#tablediv td {
  max-width: 160px;
  overflow: hidden;
}
#tablediv .coltitle {
  background-color: #d9d9d9;
  font-size: 14px;
}
#tablediv span.decimal {
  font-size: 12px;
  color: darkred;
}

.legendary{
  background-color: #ddffcc;
}
.unique{
  background-color: #ffeecc;
}
.epic{
  background-color: #eeccff;
}
.rare{
  background-color: #cceeff;
}
.normal{
  background-color: #f5f5f5;
}

input.error {
  background-color: #ffdddd;
}

#cubeinfodiv div.none {
  background-color: #eeeeee;
}
#cubeinfodiv .cell {
  border-bottom: solid 1px #bbbbbb;
}
#cubeinfodiv div:nth-of-type(7n-1) {
  border-bottom: none;
}
#cubeinfodiv .top
, #cubeinfodiv .bottom {
  border: none;
}
#cubeinfodiv #cubeimagediv
, #cubeinfodiv .head.top{
  background-color: #CFD8E7;
}
#cubeinfodiv .head{
  background-color: #fafafa;
}
#cubeinfodiv {
  grid-template-columns: repeat(5, 1fr);
}
#cubeinfodiv #cubeimagediv{
  background-repeat: no-repeat;
  background-position: 50%;
}

#potentialdiv .potential-val{
  padding-left: 10px;
  padding-right: 5px;
  justify-content: end;
}
#potentialdiv .potential-name{
  overflow: hidden;
  white-space: nowrap;
}
#potentialdiv .potential-score{
  padding-left: 5px;
  padding-right: 5px;
}
#potentialdiv .potential-rate{
  padding-right: 10px;
  justify-content: end;
}

#potentialdiv div {
  position: relative;
  display: flex;
  align-items: center;
  height: 25px;
}
#potentialdiv .potential-score input {
  position: relative;
  z-index: 30000;
  height: 21px;
  padding: 0px;
  margin: 0px;
  border: solid 1px gray;
}
#potentialdiv .masked::before {
  z-index: 1000;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.03);
}

#potentialdiv * {
  white-space: nowrap;
  overflow: hidden;
}
#potentialdiv .potential-head {
  background-color: #ddd;
  justify-content: center;
  min-width:50px;
  height: 25px;
  padding: 3px 0px;
  border: solid 1px #888;
  border-right: none;
}




