


body {
  font-family: Arial, sans-serif, serif;
  min-width: 520px;
  max-width: 780px;
  margin: 10px;
  background: #f0f0f0;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #888;
  padding: 5px;
}

/*--------------------------------------------------------*/

div.grid {
  display: grid;
}

#maindiv {
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  background: #fff6f0;
  border: 2px solid #333;
  border-radius: 10px 10px 0px 0px;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

#headerdiv {
  grid-auto-flow:column;
  grid-template-rows: 1fr;
  height: 270px;
  overflow: hidden;
  transition-duration: 0.3s;
}
#headerdiv.hide {
  height: 0px !important;;
}

#settingdiv {
  grid-auto-flow: column;
  grid-template-rows: 0px repeat(5, 1fr) 20px;
  /* grid-template-rows: 0px repeat(6, 1fr) 20px; 重複制限を表示する場合 */
  height: 270px;
  width: 240px;
  border-right: 2px solid #333;
}

#settingdiv .cell{
  display: flex;
  align-items: center;
}
#settingdiv .cell.hide{
  display: none;
}
#settingdiv .cell.label{
  justify-content: flex-end;
  font-weight: bold;
}
#settingdiv .cell.input{
  justify-content: flex-start;
}

#openerdiv {
  height: 40px;
  display: flex;
  align-items: center;
  border-top: 2px solid #333;
}

#openerdiv .wrapdiv{
  margin: 0px 10px;
  width: 30px;
  height: 30px;
}

#openerdiv .arrowdiv {
  position: absolute;
  height: 15px;
  width: 15px;
  border-color: black black transparent transparent;
  border-style: solid;
  border-width: 3px;
  border-radius: 15%;
  top: calc(50% - (21px*0.27));
  left: calc(50% - (21px*0.73));
  transform-origin: calc(21px*0.73) calc(21px*0.27);
  transform: rotate(-45deg);
  transition: 0.3s linear;
}

#openerdiv.opener .arrowdiv {
  transform: rotate(135deg) !important;
}

#openerdiv #conditiondiv {
  grid-auto-flow: column;
  grid-template-columns: 70px 70px 70px 1fr auto auto auto;
  height: 38px;
  width: 100%;
  font-weight: bold;
}
#openerdiv #conditiondiv>div {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  align-items: center;
  display: flex;
}
#openerdiv #conditiondiv #condition-date {
  max-width: 100px;
  min-width: 90px;
}



#exportdiv {
  grid-auto-flow: row;
  grid-template-columns: auto 1fr;
  border: solid #333;
  border-width: 2px 0px 0px 0px;
}
#exportdiv .wrapdiv:first-child{
  min-width: 313px;
}

#potentialdiv {
  grid-auto-flow: row;
  grid-template-columns: auto auto 1fr auto auto;
}

#tablediv {
  
}

/* gridboxの背景色 */
#settingdiv{
  background-color: #ffe0ee;
}

/* gridboxのpaddingレイアウト */
#headerdiv .cell {
  min-height: 40px;
}
#headerdiv .cell.top{
  padding: 0px;
  min-height: 0px;
}
#headerdiv .cell.bottom{
  padding: 0px;
  min-height: 0px;
}
#headerdiv .cell.label{
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
}
#gridbox1 .cell.input.opt{
  padding-right: 10px;
}

/*------------------------------------------------------*/

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.no-spin {
  margin: 0;
  -moz-appearance: textfield;
}

.input-status{
  background-color: white; 
  border:solid 1px gray;
  border-radius: 5px;
}

input.input-status {
  width: 40px;
  height: 20px;
  padding: 1px 4px;
}
input[type="checkbox"].input-status {
  width: unset;
  transform: scale(1.2);
}

select.input-status {
  min-width: 40px;
  max-width: 100px;
  -webkit-appearance: none;
  appearance: none;
  height: 24px;
  padding: 1px 4px;
}
select.input-status:invalid{ /* 未選択状態 */
  border-bottom: double 4px #f88;
}

select.input-status::-ms-expand {
  display: none;
}

/*----------------------------------------------------*/

/* 計算結果表 */
#tablediv {
  margin-top: 0px;
  min-width: 220px;
}
#tablediv .table {
  background-color: #efefef;
  min-width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  border-left: 1px solid #888;
}
#tablediv .table.showsecondary{
  grid-template-columns: auto 1fr 1fr;
}

#tablediv .table>div{
  white-space: nowrap;
  overflow: hidden;
  background: #fff;
  height: 30px;
  align-items: center;
  display: flex;
  padding: 0px 4px;
}

/* 先頭行 */
#tablediv .table>div.coltitle {
  background: #f66 !important;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid #888;
}

/* 末尾行 */
#tablediv .table:not(.showsecondary)>div:nth-last-of-type(-n+2)
, #tablediv .table.showsecondary>div:nth-last-of-type(-n+3) {
  border-bottom: 1px solid #888;
}

#tablediv .table:not(.showsecondary)>div:nth-of-type(2n+1)
, #tablediv .table.showsecondary>div:nth-of-type(3n+1)
, #tablediv .table.showsecondary>div:nth-of-type(3n+2){
  border-right: 1px solid #888;
}
#tablediv .table:not(.showsecondary)>div:nth-of-type(4n+3)
, #tablediv .table:not(.showsecondary)>div:nth-of-type(4n+4)
, #tablediv .table.showsecondary>div:nth-of-type(6n+4)
, #tablediv .table.showsecondary>div:nth-of-type(6n+5)
, #tablediv .table.showsecondary>div:nth-of-type(6n+6){
  background: #fff0f0;
}

/* 小数部分 */
#tablediv span.decimal {
  font-size: 12px;
  color: darkred;
}

.legendary{
  background-color: #ddffcc;
}
.unique{
  background-color: #ffeecc;
}
.epic{
  background-color: #eeccff;
}
.rare{
  background-color: #cceeff;
}
.normal{
  background-color: #f5f5f5;
}

input.error {
  background-color: #ffdddd;
}

#cubeinfodiv {
  grid-auto-flow: column;
  grid-template-columns: 72px repeat(4, 1fr);
  grid-template-rows: 0px auto repeat(4, 50px) 0px;
}
#cubeinfodiv div.none {
  background-color: #eeeeee;
}
#cubeinfodiv .cell {
  border-bottom: solid 1px #bbbbbb;
  text-align: right;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  max-height: 70px;
  overflow: hidden;
  font-size: 12px;
}
#cubeinfodiv div:nth-of-type(7n-1) {
  border-bottom: none;
}
#cubeinfodiv .top
, #cubeinfodiv .bottom {
  border: none;
}
#cubeinfodiv #cubeimagediv
, #cubeinfodiv .head.top{
  background-color: #CFD8E7;
}
.cubeimage, .eqpimage{
  object-fit: none;
  object-position: 50% 0px;
  display: none; /* 未選択状態では非表示 */
  width: 100%;
}
.cubeimage{
  height: 32px;
}
.eqpimage{
  height: 38px;
}
#cubeinfodiv .head{
  background-color: #fafafa;
}

#potentialdiv .potential-auto>input{
  height: 100%;
  width: 17px;
  padding: 0px;
  margin: 0px;
  border: 1px #aaa solid;
  border-width: 0px 1px 1px 1px;
  
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  background-color: #eee;
}
#potentialdiv .potential-auto>input.delete{
  border-left-width: 3px;
  border-left-color: #f55;
}
#potentialdiv .potential-val{
  padding-left: 10px;
  padding-right: 5px;
  justify-content: flex-end;
}

#potentialdiv .potential-name{
  overflow: hidden;
  white-space: nowrap;
}
#potentialdiv .potential-score{
  padding-left: 5px;
  padding-right: 5px;
}
#potentialdiv .potential-rate{
  padding-right: 10px;
  justify-content: flex-end;
}

#potentialdiv div {
  position: relative;
  display: flex;
  align-items: center;
  height: 27px;
}
#potentialdiv .potential-score input {
  position: relative;
  z-index: 30000;
  height: 23px;
  width: 30px;
  padding: 0px 4px;
  margin: 0px;
  border: solid 1px gray;
}
#potentialdiv .masked {
  background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)); /* 背景色に白を重ねる */
}

#potentialdiv * {
  white-space: nowrap;
  overflow: hidden;
}
#potentialdiv .potential-head {
  justify-content: center;
  min-width:50px;
  height: 30px;
  border: solid #888;
  border-width: 0px 0px 1px 1px;
  background: #f66;
  font-weight: bold;
  color: white;
}
#potentialdiv .potential-head:first-child {
  border-left: 0px;
}


/*-------- 生成プルダウン ------------------------*/
.button-dropdown-wrapper {
  display: inline-block;
}

.button-dropdown-wrapper>button {
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 1px;
  font-size: 10px;
  height: 24px;
  width: 24px;
  margin-left: 1px;
}

.template-dropdown {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 50000;
  width: auto; /* 項目の文字列幅に基づく最小幅 */
  white-space: nowrap; /* テキストを1行に収める */
}

.template-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.template-dropdown li {
  padding: 8px;
  cursor: pointer;
  text-align: right;
}

.template-dropdown li:hover {
  background-color: #f0f0f0;
}

/* つまみ付きゲージ（見た目を共通化するため） */
#potentialdiv .slider-container {
    position: relative;
    width: 60px;
    height: 6px;
    margin: 10px 10px;
    background-color: #ddd;
    border: solid 1px #333;
    border-radius: 8px;
    display: flex;
    align-items: center;
    overflow: visible;
    cursor: pointer;
}
#potentialdiv .slider-fill {
    position: absolute;
    height: 100%;
    background-color: #88f;
    border-radius: 8px 0 0 8px;
    width: 0%;
}
#potentialdiv .knob {
    position: absolute;
    width: 19px;
    height: 19px;
    background-color: white;
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#potentialdiv .inner-circle {
    width: 13px;
    height: 13px;
    background-color: #555;
    border-radius: 50%;
}


/* 出力テーブル切り替えボタン */
#exporttype1div
, #exporttype2div
, #exporttype3div{
  align-self: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #f9f9f9;
  color: #555;
  font-weight: bold;
  border: 2px #555 solid;
  border-radius: 5px;
  padding: 0px 6px;
  margin: 0px 6px 0px 0px;
  height: 30px;
}
#exporttype3div{
  background: transparent;
  border: 0;
  padding: 0px;
  border-radius: 0px;
  position: relative;
  height: 34px;
}
#exporttype3div::before{
  content: "x";
  position: absolute;
  font-size: 14px;
  color: #555;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
input#exporttype3{
  padding: 0 6px 0 16px;
  height: calc(100% - 1px * 2);
  width: 32px;
  background-color: white;
  border:solid 1px gray;
  border-radius: 5px;
  text-align: right;
}
